# .gitignore

# Ignore node_modules folder
node_modules/

# Ignore environment variables and secrets
.env
.env.local

# Ignore build folder
/dist
/build

# Ignore logs
*.log

*-lock.json

.next
*storybook.log
storybook-static

.DS_Store
**/.DS_Store

*/.tsbuildinfo

backend/venv/
backend/__pycache__/
backend/*.pyc
backend/media/
backend/.env
backend/db.sqlite3
backend/backend/*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class