ul {
	width: 100%;
}

li {
	/* color: white; */
	font-family: "Carme", sans-serif;
	font-size: 18px;
	display: flex;
}

button:hover {
	cursor: pointer;
}

.main-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 225px;
	position: relative;
	width: 82%;
}

.inner-container {
	margin-top: 40px;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*** NAVBAR ***/
.navbar {
	background-color: black;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links {
	display: flex;
	flex-direction: column;
}

.nav-links li {
	margin: 0px;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 20px;
	background-color: #716d6d;
	color: white;
	padding: 5px;
}

.sidebar {
	height: 100%;
	width: 225px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #738a88;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebar-logo {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.sidebar-logo img {
	height: 150px;
	width: 150px;
}

/*** NAVBAR ***/

/*** ABOUT PAGE ***/
.section-container {
	color: white;
	padding: 50px;
	font-family: "Verdana";
	font-size: 18px;
}
/*** ABOUT PAGE ***/

/*** HOME PAGE ***/

.home-title h1{
	color: #777272;
	font-family: 'Verdana';
	font-size: 50px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

hr.solid {
	margin-top: 40px;
	border-top: 2px solid black;
	width: 7%;
}

.description {
	margin-top: 20px;
	font-size: 20px;
	font-family: "carme", sans-serif;
	line-height: 25px;
}

.footer {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.footer p {
	text-align: center;
	font-size: 16px;
}

.stock-img img {
	width: 60px;
	height: 60px;
}

/*** HOME PAGE ***/

/*** SEARCH ***/
.search-container {
	margin-bottom: 20px;
}

.search-container input {
	border-radius: 5px;
	font-size: 16px;
	padding: 3px;
}

.search-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.search-btn {
	border-radius: 5px;
	margin-left: 2px;
}

.search-btn:hover {
	cursor: pointer;
}
/*** SEARCH ***/

/*** FILTER ***/

.filter-container {
	background-color: rgb(191, 191, 173);
	width: 100%;
}

.filter-expand {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #f7c466;
	font-family: "Verdana";
	align-items: center;
}

.filter-expand:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid white;
	margin-left: 5px;
}

.filter-expand:hover {
	cursor: pointer;
}

.table-container ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: auto;
}

.table-container ul li {
	margin-left: 40px;
	width: 100px;
}

.filter-label {
	font-size: 16px;
}

.table-container ul li input:hover {
	cursor: pointer;
}

.submit-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.filter-btn {
	width: 100%;
	border-radius: 0px;
}

/*** FILTER ***/

/*** PAGENAV ***/

.pagenav-container {
	width: 100%;
}

.pagenav-container ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px 0px 0px 0px;
}

.pagenav-container ul li {
	width: auto;
}

.active {
	opacity: 0.6;
}

/*** PAGENAV ***/

/*** POKELIST ***/

.pokelist-container {
	width: 100%;
}

.pokeinfo-tab {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	color: black;
	margin: 0px;
	border-top: 2px solid black;
	height: 60px;
}

.id-container {
	width: 20%;
	margin-left: 10px;
}

.thumbnail-container {
	width: 25%;
}

.thumbnail-container img {
	height: 60px;
	width: 60px;
}

.name-container {
	width: 30%;
}

.name-container:hover {
	text-decoration: underline;
	cursor: pointer;
}

.type-container {
	display: flex;
	flex-direction: row;
	width: 25%;
}

.type-box {
	border-radius: 2px;
	padding: 2px 4px 2px 4px;
	margin-left: 5px;
	font-size: 16px;
	color: white;
}

/*** POKELIST ***/


/*** SINGLE POKE PAGE ***/
.pokeinfo-container {
	display: flex;
	flex-direction: column;
	background-color: rgba(191, 191, 173, 0.6);
	padding: 0 50px 20px 50px;
}

.pokeinfo-top-container {
	display:flex;
	justify-content: center;
	align-items:center;
	height: 10%;
	margin-top: 20px;
	font-family: "Verdana";
	font-size: 20px;
}

.pokeinfo-middle-container {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	height: 70%;
}

.pokeinfo-image-container {
	width: 40%;
	display: flex;
	justify-content: center;
}

.pokeinfo-image-container img {
	width: 200px;
	height: 200px;
}

.pokeinfo-stats-container {
	display: flex;
	flex-direction: column;
	width: 60%;
	align-items: center;
	background-color: rgba(83, 83, 83, 0.3);
	justify-content: center;
}

.pokeinfo-stats-container ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokeinfo-stats-container ul li {
	margin-top: 15px;
}

.pokeinfo-bottom-container {
	color: black;
	padding: 20px;
	margin-top: 20px;
	font-family: "Verdana";
	height: 20%;
}
/*** HOME PAGE ***/

.loading {
	margin-top: 50px;
	font-family: "Carme", sans-serif;
}
